.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-size: 24px;
}

.header .logo h1 {
  font-size: 32px;
  font-weight: bold;
  color: #fff; /* Change LeagueLink text color to white */
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 32px; /* Adjust the size to match the text */
  height: 32px; /* Adjust the size to match the text */
  margin-right: 10px;
  fill: #c680e3; /* Change the icon color */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #7289da; /* Light color on hover */
}
