.our-goal {
  padding: 40px 20px; /* Increase padding for more space */
  background-color: #23272a; /* Change background color to black */
  color: #c680e3; /* Change text color to C680E3 */
  font-size: 18px;
  line-height: 1.6;
}

.our-goal h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.our-goal p {
  margin-bottom: 15px;
}
